.title-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.form {
    width: 300px;
    margin-right: 1rem;
}

.full-width-form {
    width: 100%;
}